.carrossel {
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 70px;
}

.carrossel-inner {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.review-container {
  color: rgb(0, 0, 0);
  width: 300px;
  padding: 20px;
  text-align: center;
  border: 1px solid #000000;
  flex-shrink: 0;
  margin: 0 10px;
}

.review-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stars {
  margin: 5px 0;
}

.star {
  color: rgb(175, 161, 33);
}

.review-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.review-text {
  margin-top: 10px;
}

.carrossel-control-left,
.carrossel-control-right {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
  border: none;
  z-index: 1;
  padding: 10px;
}

.carrossel-control-left:hover,
.carrossel-control-right:hover {
  color: #000000;
}

.carrossel-control-left {
  position: absolute;
  left: 15px;
}

.carrossel-control-right {
  position: absolute;
  right: 15px;
}
