/* src/components/ProductsGrid.css */

.products-grid {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 20px;
  padding-top: 120px;
  text-align: center;
  overflow-x: hidden;
}

.products-grid h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.products-grid button {
  background-color: transparent;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s;
}

.products-grid button:hover {
  color: #a21919;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Limita a quantidade de colunas para 5 */

}

