html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    flex-direction: column;
}

.form-wrapper {
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.form-toggle h2 {
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    padding-bottom: 5px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width: 50%;
    text-align: center; 
}

.toggle-option.active {
    color: #000000;
    border-bottom: 2px solid #2f2f2f;
    transition: all 0.3s ease;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease;
}

.underline.login {
    left: 0;
}

.underline.cadastro {
    left: 55%;
}

.register-form h3 {
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    color:#ffffff;
    margin: 10px 0;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #000000;
}

.register-form input::placeholder {
    color: #ffffff;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.register-form p {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 10px;
    margin-top: 0;
}

.forgot-password {
    font-size: 12px;
    color: #cccccc;
    cursor: pointer;
    margin: 0px;
    padding: 5px;
    text-align: right;
}

.subscribe-label {
    font-size: 12px;
    color: #cccccc;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.subscribe-label input {
    margin-left: 0px;
}

.submit-button {
    width: 105%;
    padding: 10px;
    background-color: #330505;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.terms {
    font-size: 10px;
    color: #cccccc;
    text-align: center;
    padding: 20px;
}

.terms a {
    color: #ffffff;
    text-decoration: underline;
}

.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.popup-message {
    background-color: #000000;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
  
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

.popup-message {
    position: fixed;
    top: 20px; 
    right: 20px;
    background-color: #005800;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001; 
}

.error-message {
    color: rgb(116, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}

.password-strength-container {
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
  
  .password-strength-meter {
    height: 5px;
    transition: width 0.5s;
  }
  .password-strength {
    color: black;
}

.password-strength.Forte {
    color: green;
}

.password-strength.Moderada {
    color: yellow;
}

.password-strength.Fraca {
    color: red; 
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }

  input {
    width: 100%; /* Altera para 100% para ocupar toda a largura do contêiner pai */
    padding: 10px; /* Adiciona espaçamento interno */
    margin-bottom: 10px; /* Espaçamento inferior entre inputs */
    border: 1px solid #ccc; /* Define uma borda padrão */
    border-radius: 4px; /* Arredonda os cantos */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura total */
  }
  
  .password-container {
    width: 100%; /* Faz com que a caixa da senha também ocupe toda a largura */
  }

.eye-icon {
  cursor: pointer;
  margin-left: -35px; /* Ajuste para colocar o ícone dentro do campo */
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #2b2b2b; /* Cor verde */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Efeitos de transição */
}

.submit-button:hover {
  background-color: #252525; /* Cor verde mais escura ao passar o mouse */
  transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

.submit-button:focus {
  outline: none; /* Remove o contorno padrão */
  box-shadow: 0 0 0 2px rgba(45, 45, 45, 0.5); /* Sombra ao focar */
}