@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}


/* ______________________ CONTAINER PRINCIPAL ______________________ */
.product-container {
  padding-top: 100px; /* Espaçamento interno no topo do container para não bugar a navbar*/
  padding-bottom: 100px; /* Espaçamento interno no final do container para não bugar o footer*/
  padding-left: 10%;
  padding-right: 10%; 
}

/* ______________________ INFORMAÇÕES DO PRODUTO ______________________ */
.product-main-info {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

/* ______________________ IMAGENS BOX ______________________ */
.imagens-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* ______________________ IMAGEM PRINCIPAL ______________________ */
.product-main-image {
  flex: 2; /* A imagem principal ocupa 2/3 do espaço */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.main-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover; /* Corta a imagem para preencher o espaço */
}

/* ______________________ IMAGENS ADICIONAIS ______________________ */
.additional-images-vertical {
  flex: 1; /* As imagens adicionais ocupam 1/3 do espaço */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.additional-image-box {
  width: 75px;
  height: 75px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Permite posicionar o ícone "+" */
  overflow: hidden; /* Garante que o conteúdo não ultrapasse */
  margin: 5px;
}

.additional-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção */
}

/* ______________________ ÍCONE "+" ______________________ */
.more-images {
  position: absolute; /* Permite sobrepor a imagem */
  top: 0; /* Posiciona no topo */
  left: 0; /* Posiciona à esquerda */
  right: 0; /* Posiciona à direita */
  bottom: 0; /* Posiciona embaixo */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  color: #fff; /* Texto branco */
  display: flex; 
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

/* ______________________ DETALHES DO PRODUTO ______________________ */
.product-details {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px;
}

.product-title {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 5px;
}

.product-price {
  font-size: 12px;
  margin: 0px;
}

.product-brand {
  font-size: 8px;
}

.product-description {
  font-size: 8px;
}

.buy-button {
    margin-top: 30px;
    background-color: #330505;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    height: 38px;
}

/* ______________________ CONTAINER DOS BOTÕES E CARD ______________________ */
.specifications-container {
  margin-top: 20px; /* Espaçamento superior */
}

.specifications {
  display: flex;
  justify-content: space-between; /* Espaço igual entre os botões */
  width: 100%; /* Faz os botões ocuparem todo o espaço da div */
}

.specifications button {
  flex: 1; /* Faz cada botão ocupar 50% do espaço */
  background-color: #000; /* Fundo preto */
  color: white; /* Texto branco */
  border: none; /* Remove a borda */
  padding: 10px; /* Espaçamento interno */
  cursor: pointer; /* Mãozinha ao passar o mouse */
  position: relative; /* Para o controle da borda inferior */
  border-bottom: 2px solid transparent; /* Borda inferior transparente por padrão */
  transition: border-color 0.3s ease-in-out; /* Transição suave para a borda */
}

.specifications button.active {
  border-bottom: 2px solid white; /* Borda inferior branca quando o botão estiver ativo */
}

.specifications button:hover {
  background-color: #222; /* Altera a cor do fundo ao passar o mouse */
}

/* ______________________ CARDS DE ESPECIFICAÇÕES ______________________ */
.card {
  padding: 10px; /* Espaçamento interno do card */
  border: 1px solid #ffff; /* Borda do card */
  background-color: #000; /* Fundo do card */
  margin-top: 10px; /* Margem superior do card */
  color: white;
  height: 300px; /* Altura fixa de 300px */
  overflow-y: auto; /* Permite rolagem se o conteúdo exceder a altura */
}
