/* src/components/ProductCard.css */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

.product-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  padding: 5px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  position: relative;
}

.product-image {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-info h3 {
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.product-info {
  position: relative;
  top: -10px;
}

.product-info p {
  margin: 0;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}