@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar {
    background-color: #000000;
    padding: 10px 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Abaixar a logo */
}

.logo {
    width: 100px;
    height: auto;
    margin-left: 10px;
}


.search-form {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 80px;
    position: relative;
}

.search-input {
    width: 90%;
    padding: 8px 0px 8px 15px; /* Espaço para o ícone da lupa */
    border: 0.2px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    border-color: #666;
}

.search-form::after {
    content: '🔍';
    position: absolute;
    right: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    color: #666;
    pointer-events: none; /* Permite clicar no input sem bloquear pelo ícone */
}

.nav-middle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 40px;
}

.nav-item {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgb(103, 103, 103);
}

.nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 15px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
